// 设置区域公共样式
.settings-box {
  &::-webkit-scrollbar {
    display: none;
  }
  .header-setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    &__label {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: flex-start;
      min-height: 30px;
    }
    &__value {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 174px;
      .el-select,
      .el-input {
        width: 174px;
      }
    }
    &__tip {
      color: #969799;
      font-size: 12px;
      line-height: 18px;
      margin-top: 4px;
    }
  }
  .body-setting {
    background-color: #f7f8fa;
    padding: 12px 16px;
    &__tip {
      color: #969799;
      font-size: 12px;
      margin-bottom: 16px;
      margin-top: 4px;
      line-height: 16px;
    }
  }
}

// 重置拖拽排序占位样式
.preview-box,
.settings-box {
  .sortable-ghost {
    visibility: hidden;
  }
}
.preview-box .sortable-ghost {
  &:not(.item-preview) {
    position: relative;
    visibility: visible;
    width: 100%;
    height: 42px;
    color: transparent !important;
    background-image: url('../assets/bg-com-placeholder.png');
    background-size: 100% 100%;
    background-position: center center;
  }
}

// Element-UI的样式覆盖
.el-popconfirm__main {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
