$border-color: #dcdee0;
$border-style: 1px solid $border-color;
$search-height: 80px;
$body-height: 500px;

::v-deep {
  .el-dialog__header {
    border-bottom: $border-style;
    margin-top: -1px;
  }
  .el-dialog__body {
    padding-top: 10px;
    padding-bottom: 10px;
    height: $body-height;
    overflow: hidden;
    box-sizing: border-box;
  }
  .el-dialog__footer {
    border-top: 1px solid $border-color;
    margin-bottom: -1px;
  }
}
.shop-picker__dialog {
  &-body {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
    min-height: $body-height;
    font-size: 12px;
    line-height: normal;
  }
  &-search {
    position: relative;
    width: 100%;
  }
  &-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: $body-height - $search-height - 10px;
    margin-top: 10px;
    .load-more {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  &-list {
    position: relative;
    width: 49%;
    height: 100%;
    padding: 10px 10px 0 10px;
    background-color: #fafafa;
    overflow-x: hidden;
    overflow-y: auto;
  }
  &-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 16px;
  }
  &-item {
    display: flex;
    float: left;
    position: relative;
    width: 49%;
    height: 80px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 2px;
    overflow: hidden;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border: $border-style;
      border-radius: 2px;
    }
    &:nth-child(2n) {
      margin-left: 2%;
    }
    &-image,
    &-image-place {
      width: 110px;
      height: 80px;
      flex-shrink: 0;
      background-size: contain;
      background-position: 50%;
      background-repeat: no-repeat;
    }
    &-image-place {
      background-size: 64px 64px;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIkAAACACAYAAAA/K0oBAAAMTUlEQVR4Xu2dB6x1RRHH/9h7CTY+7CixYo8FFRUsCNgBUTGiBntvRGJHih2wK2jsirEAYsEuwQ6K2AugKFbEhrFEzO/LnpfD/e7ZmVPuOXvvnUlO3gdvzu7s7P/t2Z2dspUWRzeQ9HBJ15J0zfTw7yssrsu1avk8SWem59eSTpP01kVoYKsFNHpXSY9IALnMAtqPJps18O0ElEHBMiRILi3pXZIeErM4uQYAyyslfXAISYYCydUSQO49hFDRxmAa2F/S2/q2NgRIri/pvZLu0FeYeH8hGniWpNf0abkvSNhznCTpVn2EiHcXroEXS3pJ1176goTOX9S183hvNA38Q9KdJX2nS499QMLqwSoSJ5gumh//nfdLeliXbvuAhE4f6uz0s5J+KelXTv5gszVwSUnXlbSTpG1s9s0c+0j6gJN3g60rSHaRdKKjs+9LOkDS8Q7eYOmmgU2SOMV4PvvfkHT7tt10Bck7JD3K6AyA7CXpB22FCv5OGni0pKMcb95f0rEOvl4ryY0lfVfSxY2OOi1tbYQP3i00gCnC2nfAg0XcTV1WkoMkHWj08AlJu7ulCMahNLCb49P+X0k7SPqht9O2IOFyjlWEDVOOQDMb26DxNfBVh2ETmwnmCxe1BckTJL3RaBkQ3dLVezAtQgNPk/Q6o2FWEVYTVhWT2oIEu8iORqvPk/QKs+dgWJQGri7pdElXMTpgX8L+xKQ2INnDsSs+NyEU/4ag6TRwpKQnG91zwuGkY1IbkGCE2dtoEeGeavYaDIvWAKs9q75F2EywnWTJC5JbS8JHwSJugr9uMcXvR9HApyRZrhuvlvRsSxovSGjsmUZjH5X0IKvD+P1oGsDYidEzR2dLurkkXCEbyQMSNkKcWPiZoz0lfXg0FURHHg38TNJ2BuPjJb2lL0hYQVhJcvQtSbfzSB08o2rAY/j8gqR79AUJexH2JDl6huNsPqp2orPNGmAVYTWxaGdJn29isj43XNBZzrS/TcfeP1iSxO8n0YDnVIp3/eO6goSzNPaRHLl2yJOoJzpFA/eVxF1ajv6SNrBz/X1yK4n3rH0bSafEfBStAfaMzFOOniPpVfMYciDhjoa7mhzxKfJ6pxWtxRUXrtfhowkk3PJy7LVCMls7sKz4ZJQ6PFwdf++YzwdI+vjsIJpAgr8Ix6ccney47CtVaesoF7YQ3BxzNNdZeh5I8DhjFcEDLUdPcrgNrONklDrmWzhCKv6XNrAXcjmdBxKPORfPdzrNmnNL1dYay/U5y3Am6aWzTtXzQIIXPN7wOTpE0vPXWNnLOnSP3evHaTX5TzXIWZB4QiUuSMYzHFuClk8DZ0m6tiH2vpLe0wQST6gEL9NI0HJq4IWOuGDipDaMqPWVxBsqsaskfBWCllMDW0v6o0P0Dd+gOkg8N4ZflHR3RwfBUrYG3pdCPnNSvrbyIapA4g2VGCQpStn6WwvpPFcuv0kb2HMrkHhCJX6eNqznr4UaV3+QHheQJ0p6UwWSEySx18jRFufn1dfjSo/QEztMoNedAAn5RfAJuXxGJf9Kq8hPVlpt6zc4kttY+WW2BSR3k4QLW45ahQWun66XdsTMO/Ofo70Biecyjz3Lm5dWFSF4kwa4f3u9oZ4jAYkHTeyGufUNWi0NeL4iJwGSUx0B3uxX/r5a+onRpH3oXw1NnAZIzjBSSXD0JU980GpqgIxUN8kM7SxA8mdJV8owRWTeaoKjGpWVIPE8QMKtbpxsVhsIudGRgz4XD3wBIDlH0jUyrXTO/7m+el+qkVuG1HMACeEQubTfmG9vu1TDDmHbaAAno+0zL5wKSCwk/c3hZd1GqOAtRwOXk0Rg1kUyIp0ASI6WtJ8h940kgbjS6D6SLuHIwDSl3NyJXUzScVMK0dA3AVsEbuXoaEDycoe/6mMSmEoaJ47YGPgumi4nrauFKWQnwSAyomfAgj9OSYSfMvOfo4MR/i6SvmwwluZsRBGmb9Z8NfG0Yt+E/2YpRD4XZKTuIERAPTISaVACEbBF1Qq+EjnauXIVQPBqME0vkLzXCjwea/DzNtu/cCRsGUs++plnyS7JMMnX4e2GQjj5bqpAcpik5xovlBL3+xlJ92yQlb+MEgo05cJSSpGRrwMVLnJEabb9K5CQxIRyIxaRzcja6Fht9Pm9ZR2k7a9IoqLoVOSRkc+7NUGLlP+Bkj7i6OB+bLjrjtDWeZk2vyaJ/OXkax2bPLlJK5mmCvvg2p3rdw+9W9IjPYwD81CjGY8zfuaIDEk3hKEOEurSEJln0cckgcQxqUsZt7EdpbrI2Ks2XscJ8ERo0vRGvpI6SAgU57jmsa6Su8T7F9NxLBuvsSpQqbwLbXbk7fJiy3dwyGpMJ2W0NSZQvCvdl+oea7NhniSk8VaXIC6DaLBF+pl8SBKpP/sQl1dW9sg+7VsXZJ62N2JcPMwdebjNJ/+Ihy4UgDcvYJxcrA/2tJTsAC+Q9Gknfxu2IQBS9cfKR21cjqBDEZkNySDEajUEkZ8OGfkrHpLYxFP5/TrORt8wm5d+Hkju2MFV8WVpVXHK0cjGXQJXBDxDH2UxZjEJ/NXi/d+VMEIBDtKSXrVrI5n3mCRkHALQnrImdVF+JOleswU154GElx7boXw54RbcT/C58uShrwuHqwLAIBZk0V5wGOK41ERWM/l+TUjqw3AkJDX60ACexQypq45JK3TbOx8qvvNZ4XBBLWAv4XzG+LYoXNAEEhr22PWbBAAkfLaw5Nafip+raS6X6k8u7qepH2JaIavuXNP7ZPThs4Y5/8zaQ864+kNuuK6Fnt6Z7pe6ZmIgJor9BNmn6nLiLMYxFks5P3koOGCFSDTpgi3GXNtJDiQ0RgUmlqwSabM1MAmGeRkzc2nEprayZJesy+wp0AIJSvdEoI89OYdLevpMp0dIesrYgmT6AxyApE6e3CBjD8E8gntAQlFid1G/EUaYS8V1qCTKu01NOdcKT3D+mPKvFEgwE7PrtwpFMglU77KuwBcxEZgC8M/g/ihHbBCRkTuzqWklQMJxtTq6eoscXDFNAhNhFSwcYpKQ6+AOlTo4zSEjDlRT0dKDBJM8AME3owth8GISFlkXEBkBiLsY88xALlWTcdsug+z5zmggoe4eRf+GICLKPimJnKND5WYjHxz2DWwHViJ+zxh+mo7OOGFxozoEYZhDPuS0aud5++PWntxnORoNJORR+2fy48Q5uS1gAAZ2FZSOy98iCaVxR7WPJNwg2xDZKVk5GgsItWksw3u9JB8y3qxFm1hpccpiT/S9VB/YCr4bFSR1J99NaXCY2esPXuNYE3l+V/s3yVSmoCsnoACW6sE3FevjrIz89xR02RnZKjnZq5HXDBfD6ifhL7NULEimUGb0OV8DAZJAhqmBAImpomAIkAQGTA0ESEwVBUOAJDBgaiBAYqooGAIkgQFTAwESU0XBECAJDJgaCJCYKgqGAElgwNRAgMRUUTAESAIDpgYskODDTC2jRhrKERp/ktLygZnaWxMGCyST+ZOsif6XYpgBkqWYpmmFHAUknuQs8bmZFgi53gMk5c5NMZIFSIqZinIFCZCUOzfFSBYgKWYqyhUkQFLu3BQjWYCkmKkoV5AASblzU4xkAZJipqJcQQIk5c5NMZIFSIqZinIFCZCUOzfFSBYgKWYqyhUkQFLu3BQjWYCkmKkoV5AASblzU4xkAZJipqJcQQIk5c5NMZIFSIqZinIFCZCUOzfFSBYgKWYqyhUkQFLu3BQjWYCkmKkoV5AASblzU4xkAZJipqJcQUYBiacoUgRnlQkSihpY6c4HiQXePVW+zKmBQkRU2Q4qSwOeqqzUMaSeYSN5sgpskxLc59qhykSbagplqXI1paHww4mOUiZ7SDq+L0h4/3RJNzV0SeqJ3SSdv5o6X6pR7ZiqiFLGzSIqilDpotdKwssHSTrQ6i1VuKLOyhkO3lJZrI1eqXIjF1+GnVrUBqbw1C7WgDyfG9qgktNQVawsmeL342mAPctRVndekNDOsZL4fgWthgZcq0i1PHmH7DnleNsKvuk1wH7lOI8YbVYS2vMktPH0GzzTamAvScd4RWgLEtr1GNe8/Qff+Bo4QNJhbbrtAhLa3zOVPG3TV/BOq4FTJB3aZgWpxO0KEt7fQdK+6aECZlCZGjhb0uGSjpD07y4i9gFJ1d/W6dTDxnZ7SRhn+H9B02jgT8lCXtVapoYxJWw70/8Bg/aMz0u24IQAAAAASUVORK5CYII=');
      background-color: #eeeeee;
    }
    &-other {
      width: calc(100% - 70px);
      padding: 5px;
      overflow: hidden;
      .shop-name {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        -webkit-box-orient: vertical;
      }
    }
    &:hover:not(.slide-fade-move) .shop-picker__dialog-item-mask {
      display: flex
    }
    &-mask {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 99;
      cursor: pointer;
      .mask-view, .mask-check {
        position: relative;
        float: left;
        height: 100%;
        background-color: rgba(204, 204, 204, 0.5);
        transition: all ease-out 0.3s;
        &:hover { background-color: #ccc }
        i {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -15px;
          margin-left: -15px;
          width: 30px;
          height: 30px;
          transition: all ease-out 0.3s;
        }
      }
      .mask-view {
        flex-shrink: 0;
        width: 40px;
        a {
          display: block;
        }
        i {
          background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACE0lEQVRYR+1W7TEFQRDsjgAR8CJABMiACBABGSACRIAIEAEi8ESACBDBqH41ezX29vbufJQ/b/6o8uZment6epf45+A/98ccwJyB0QyY2SKAVQCbmYDvATyRfB8j7MEAzEwNDwBs9zS4BHBC8mUIkF4AfuIjAIdDCoacMwdSZaQKwMzWAFwA0N/vxBTATo2NTgDe/A6AZv6TEANbJAWmFUUATvtz1vwVwPJAJFcAdkOu9LBeEmgXACl6IxRQQUUsWsNy7uBj/j3JrfyjFgAz2/O5p9wrkntmlkB9uCCPK4w8kNw0M21EBLFPUv9rogRAdCWqn7Tvoi4AEJVTX0tppBQJgPQj4PINxQvJSSeAQtFJUrCZaa3kA0tplmam1TwtIJAPiCGY2QoA6SmFBClQs/jCQAFAbCYj0omb4t5A6k4nbDVxQb8NAuAF4wjOSTYGFFiYzdJX9TFjoOsbpb2SFCNVDeQibCjz04hajUI05veB1H8cRiTbvg79+kXoLMQ1bBmJj0rFk0NqDDdxtgUjuyXZukdqRqSiaRuqbpaLsNC82aY8t8+KxcRC+OiQpGjujMJmyDe0ysOtOFX3k8g4osolUq2kdn1W1PPknBJsFJlOvv2tyyiAkJkk4dUOn//2RZBdH/a+BwIQnUxA+u4D3RvahN95kBQEJkak/tKTbPpnT7Ix3I/JHTyCMUXH5M4BzBn4BDLy5yFCaqq3AAAAAElFTkSuQmCC") no-repeat center;
          background-size: 100%;
        }
      }
      .mask-check {
        flex: 1;
        i {
          background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABL0lEQVRYR+2VURHCMBBE9xSABByABByAA0AJOEACoACcgAQk4GCZY1Kmc03THLTTn+SzTbvvNnsXwchLRtZHASgODO4AySmAE4CXiOxs6AcFILkM4rMgfLYQgwGQPADYm4ovIrKtP+sdgKRWewWw6BLX970CkNTqjgD03OurUXn1sheAWtDWkcnaKt7qQKhkBWAnIq/UuI4ELavyVgeCuLaNLhVXiFsMoiVo1dZk5SmAM4CNEVSArxuJoLnEU0fwADA3EB83QsBiQXOLpwA0xU8AE+d1nWV71hwgqX18dwC4xTvngAlkiuUn8U4A3UAyFkpXq6XIswYRyVgo9b8/V+6ahGHS2VD+LZ51BBWpCWUv4i6AkAe9bJb2SnV0SmNrVgb+Eej6tgAUB4oDozvwBvFPbCELMML+AAAAAElFTkSuQmCC") no-repeat center;
          background-size: 100%;
        }
      }
    }
    &-icon-selected {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 25px;
      height: 25px;
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIIAAACACAYAAADHy7H2AAAGyklEQVR4Xu3cz4sbZRgH8OeZbau13WxRPAgKiooKetCDQruZTFq1RRRBQaEoogfRg6gnqwexp9aD2IOgIKioiCgqVFFblEyStYLgzZsX/wARN0nrUjfvI7O7aTdrJjNJ5sf741vYU2eenfd5P3meZybJMuEfMkBEPMhCxw+OCNGlyIpbGdjh0Qc7w/CPCxC6tVpdiL8lYHBKAvepPr8UhhcgRKsHBqcMrC12JARgAIShDKAyuAMitiIMUgAMbmBIhIA2AQhoE24YGD8sjsoB2oS9MlK1hs3LBwY7MUwMATMDIGBmsNPA5DPC1jygTdgjY6rWgJnBHgCDlcwMATODHSgygQAM5mPIDAIwmI0hUwjAYC6GzCEAg5kYcoEADOZhyA0CMJiFIVcIUSp6tdo9ivi0WWnR9mr/JKLo5+asrzB3CKgM2WyZiPzFfW+vt12W+0rOMPN12URej1IIBGCYbcsiBJ7Htfkw/C2KdC4Irv53HcM1s0W+eHZhEIBhui0TomWPaXGAYBDlnyC4NsJAzFdNF3n4rEIhrM0M1foB5ck3+N5E8vaJSGeb8vbvWmr8Ouro5SC4gYV+T46UfEThEFAZkjclOkKIeqT6Bxba7V/izuj6wZvC9EK6iOOPKgUCMIzfFBE5R6LqRSEodFgctfS1zzMIfU/MO7JQbUOMCAGLd2+l3fgpbj3L1dpR9vjVLNdbWkUYLKJXrR9UrE4Cw1pGVkjx3eMQdPzgJWI6niWC0isCMAxt5wqT3DffbDZiK4EfPM9MJ7JGoA2EjbsJdyuDyHlmOjQOQbcaPCMevZ0HAq0gOIxh1VN8/+5241Ts3UHOCLSD4CCGVSJ5qNJsfh2HoFOrPUnE7+VVCQZxSx8WRy2wtxgcUnP0Xd6Lnya+EH3qifpc2PtimvOHzhH1YKXVOhkXp+f7hxXxx8Q89PcrZv69IwJoCUHbyiDyYaXVfGLt+iKsnkR3O9un2Jg+K350vt2IxbSB4CNi9qaIP/Ep2kLQD4O8W2k2n96c4a7v7xf2oj8zdEnqzIsoFu+RcQi61frDwuqzohBoOSNsTagOzxlE6K2FVvjcqM3uBMEiKTlNzDsTMYgoj+Tx3a3WJ2NmggeI+CsimkuMl+EBWleEwTrLxsBCJ+Zb4YtxeV9erN9Fc/IjE+2K3RsR8UgeS4HgSyLaluEepwplBAQd2kQShrPV6h2r7DWYuTI68/JUpdl8P3YwjJ6wrr8rWzgCI1rD5sTpXhl6vn9bn70WE+3ZfN2s6Nn5dvjOWAQlP2Y3piKY0ia6vn+LsNcmoivWXmkJCHR54804CDq0CRI6XmmFL8fODL5/IxMvifCxhXYY+95Ap1rfR578oMOHdIyEcOE+vtSHTnKs0my+EodBgmAPh+HfsXcHQbAoSk4x82WpprmcDzIWggmVIbZiVKt30vpgqQUC44bFUYkte4BMahNbr/ms79++uj5Q7s75RT5ReKMrgi4DpAgdXWiFryVlfgNBg4kWko4t+v+tgKBJmzhSaYWvx21gNwhuVUJLOiKwojXo9JyBhEZi6Oyr3yRzKvpCyuVFv9LT/j5rKoIubWIrhggBzak2MV+ZdlPKOM46CDq1iZW9+68/v63/s+4IrGsNQ22i7A+3CL1BJIez+kpa3lXCyoqgTZvIe/cyjG81BC3aRIablWco6yEAQzo+TkAAhmQMzkAAhvEYnIIADPEYnIMADKMxOAkBGP6PwVkIwDCMwWkIwHARg/MQgGEdAyBsvChK/6RT8q1+rkcAwqb0uowBELa8zlzFAAgjCq6LGAAhpvO6hgEQxoxgLmEAhIRZ3BUMgJDipswFDICQAoILD50AISUE2zEAwgQQbMYACBNCsBUDIEwBwUYMgDAlBNswAMIMEGzCAAgzQrAFAyBkAMEGDICQEQTTMQBChhBMxgAIGUMwFQMg5ADBRAyAkBME0zAAQo4QTMIACDlDMAUDIBQAwQQMgFAQBN0xAEKBEHTGAAgFQ9AVAyCUAEFHDIBQEgTdMABCiRB0wgAIJUPQBQMgaABBBwyAoAmEsjEAgkYQysQACJpBKAsDIGgIoQwMgKAphKIxAILGEIrEAAiaQygKAyAYAKEIDIBgCIS8MQCCQRDyxAAIhkHICwMgGAghDwyAYCiErDEAgsEQssQACIZDyAoDIFgAIQsMgGAJhFkxAIJFEGbBAAiWQZgWAyBYCGEaDIBgKYRJMQCCxRAmwQAIlkNIiwEQHICQBgMgOAIhCQMgOARhHAZAcAxCHAZAcBDCKAyA4CiErRgAwWEImzGw4oPzS2HIjufD6eX3FoNDylOdSqt15j/2lx7M0edlwgAAAABJRU5ErkJggg==") no-repeat center #fff;
      background-size: 100%;
      z-index: 99;
    }
    &.selected {
      .shop-picker__dialog-item-icon-selected { display: block }
      .mask-check {
        background-color: #f23f40;
        i {
          background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABc0lEQVRYR+2WXVFDQQyFz1EAEooDJNQBgwJAAkqQADioBByAAyqBKgiTmb0zvUuym6QP5aH7eO9Ozrf5J858eGZ9XAD+rwdE5BbAnuTPKXkiItcANiS/LDumB0RkB+AOgIo/k3yrQIjII4AXAAqxI3nf2/kD0F7+2V18ykI08dfOzg3J/fE3C0Bp9dJVFcIRP5BU26vjhWCrLqtAeOIAtlYeuFXQQvGRgciKqyuGZZiBqIhPAfRCBKIqHgKYQbSM6rP94MU8lIRWzQ880V8Pi4c9sCgEIFLiaYBJONLiVQBtr33MFyelO2ZqGjrZ3udACiIMMCg1BSi37RDAqM7b81MdcziMen9GmkykWXnjfNaKrYQzs70KMRpGYfFAn3AT0xvHafEqhLeQfLc1arGbajJOOHS9041otWNaABsAClASn3hivpK1dqtL6AOA1MuNCtLNeinRd5Ia2tUZJaGu0qsF0iul2XcRcW2FGtFM4JT/F4Bf3CLaIabGUkUAAAAASUVORK5CYII=") no-repeat center;
          background-size: 100%;
        }
      }
    }
  }
  &-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    &-num {
      font-size: 14px;
      span {
        color: red;
        margin-right: 10px;
      }
    }
  }
}

/** 动画 */
.slide-fade-item, .slide-fade-enter-active, .slide-fade-leave-active {
  transition: all .5s ease;
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(-30px);
  opacity: 0;
}
.slide-fade-leave-active {
  position: absolute;
}
.slide-fade-move {
  transition: transform .5s;
}
