.sku-editor-item {
  display: flex;
  .label-text {
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 700;
    color: #606266;
  }
  ::v-deep .sv-btn {
    color: #333333;
    background-color: #f5f5f5;
    border-color: #dddddd;
  }
}
.spec-list {
  border: 1px solid #EBEEF5;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 20px;
  flex-grow: 1;
  .spec-list-tip {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .tip-label {
      line-height: normal;
    }
    .tip-content {
      flex-grow: 1;
      color: #666666;
      font-size: 12px;
      font-weight: normal;
      line-height: normal;
    }
  }
  .add-spec-tip {
    padding: 0;
    line-height: normal;
    margin: -10px 0 0;
    font-size: 14px;
    color: #999999;
  }
  ::v-deep .el-form-item:last-child {
    margin-bottom: 0;
  }
  ::v-deep .el-form-item__content {
    display: flex;
    align-items: flex-start;
  }
  ::v-deep .el-select {
    .el-input__inner {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  ::v-deep .del-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    border-color: #DCDFE6;
    background-color: #F5F7FA;
    color: #909399;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    white-space: nowrap;
  }
  .spec-name {
    background-color: #f8f8f8;
    padding: 6px 10px;
    ::v-deep .el-form-item__content {
      display: flex;
      justify-content: space-between;
      .spec-input {
        display: flex;
        justify-content: flex-start;
        flex: 1;
      }
      .spec-opt {
        display: flex;
        align-items: center;
        padding-right: 20px;
        .partition {
          width: 1px;
          height: 15px;
          margin: 0 5px;
          background-color: #297ce6;
        }
        .el-button {
          font-size: 14px;
        }
      }
    }
    ::v-deep .el-checkbox {
      margin-left: 10px;
    }
  }
  .spec-values {
    border-bottom: 1px dashed #cccccc;
    padding: 6px 10px 18px;
    &.no-spec-val .has-img .el-button {
      margin-bottom: 0 !important;
    }
    .spec-value-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &.has-img .el-button {
        margin-bottom: 173px;
      }
    }
    .spec-value-btn {
      display: flex;
      align-items: center;
      position: relative;
      .sv {
        cursor: auto;
      }
      &:hover i {
        display: block;
      }
      i {
        position: absolute;
        right: -8px;
        display: none;
        width: 18px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        color: #ffffff;
        border-radius: 18px;
        background-color: rgba(0,0,0,.8);
        cursor: pointer;
      }
      .el-icon-close {
        top: -8px;
      }
      .el-icon-edit {
        bottom: -8px;
      }
    }
    ::v-deep .el-form-item__content {
      flex-wrap: wrap;
    }
    ::v-deep .el-button {
      transition: none;
    }
    ::v-deep .spec-value-item {
      margin-bottom: 10px;
      margin-right: 20px;
    }
    ::v-deep .el-select {
      width: 120px;
    }
    ::v-deep .spec-value-upload {
      width: 58px;
      height: 58px;
      overflow: hidden;
      margin-top: 10px;
      border-radius: 4px;
      &:hover {
        border-color: #409EFF;
      }
      .el-upload {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        .el-icon-plus {
          font-size: 20px;
        }
      }
      .el-upload-list {
        width: 100%;
        height: 100%;
        .el-upload-list__item {
          width: 100%;
          height: 100%;
          border: none;
          border-radius: 0;
          margin: 0;
          transition: none;
        }
      }
    }
    ::v-deep .spec-value-form-item {}
  }
}
.spec-list.stage {
  display: flex;
  flex-direction: column;
  width: 0;
  .spec-list-body {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-height: 33px;
    overflow: hidden;
    padding-right: 50px;
  }
  .spec-stage {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
  }
  .spec-stage-all {
    position: absolute;
    right: 24px;
  }
  ::v-deep .spec-stage-btn {
    color: #333333;
    background-color: #f5f5f5;
    border-color: #dddddd;
    &.is-disabled {
      color: #999999;
    }
  }
}
.sku-table {
  flex-grow: 1;
  min-width: 1000px;
  ::v-deep .is-center .cell {
    display: flex;
    justify-content: center;
  }
  ::v-deep .el-input__inner {
    text-align: center;
  }
  ::v-deep .el-form-item {
    margin-top: 18px;
    &.hide-message {
      margin: 0 !important;
    }
  }
  ::v-deep .batch-btn {
    cursor: pointer;
  }
  ::v-deep .spec-value-upload {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 2px;
    &:not(.disabled):hover {
      border-color: #409EFF;
    }
    &.disabled {
      .el-upload {
        cursor: not-allowed;
        border-color: #E4E7ED;
        background-color: #F5F7FA;
        .el-icon-plus {
          color: #C0C4CC;
        }
      }
    }
    .el-upload {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      .el-icon-plus {
        font-size: 16px;
      }
    }
    .el-upload-list {
      width: 100%;
      height: 100%;
      .el-upload-list__item {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0;
        margin: 0;
        transition: none;
      }
    }
  }
  ::v-deep .el-table__body tr:hover .el-table__cell {
    background-color: #ffffff;
  }
  ::v-deep .el-table__row.hide {
    td:is([rowspan="1"]) {
      background-color: #f2f2f2 !important;
    }
  }
  ::v-deep .el-input-number {
    width: 100%;
  }
}

