$body-height: 500px;
$border-color: #dcdee0;
.page-picker__dialog {
  .el-dialog__header {
    border-bottom: 1px solid $border-color;
    margin-top: -1px;
  }
  .el-dialog__body {
    padding-top: 10px;
    padding-bottom: 10px;
    height: $body-height;
    overflow: hidden;
    box-sizing: border-box;
  }
  .el-dialog__footer {
    border-top: 1px solid $border-color;
    margin-bottom: -1px;
  }
  &-body {
    position: relative;
    height: 100%;
  }
  &-search {
    position: absolute;
    top: 0;
    right: 0;
  }
  &-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &-table {
    flex: 1;
    width: 100%;
    margin-top: 10px;
    .el-table__row {
      cursor: pointer;
    }
    .el-radio__label,
    .el-checkbox__label {
      display: none;
    }
  }
  &-page {
    text-align: right;
    margin-top: 5px;
  }
}
