$blue: #324157;
$light-blue: #3A71A8;
$red: #C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow: #FEC171;
$panGreen: #30B08F;

$menu_bg: #FFF;
$menu_item_bg: #FFF;
$menu_item_hover_bg: #F0F9FF;
$menu_sub_item_bg: $menu_item_bg;
$menu_text: #6C6D6E;
$menu_text_active: #FF715F;
$menu_logo_bg: #FFF;
$menu_logo_tip_text: #FF715F;

$nav_bg: #FFF;
$nav_text: #333;
$nav_text_active: #333
