$body-height: 450px;
$border-color: #dcdee0;
.area-picker__dialog {
  .el-dialog__header {
    border-bottom: 1px solid $border-color;
    margin-top: -1px;
  }
  .el-dialog__body {
    padding-top: 10px;
    padding-bottom: 10px;
    height: $body-height;
    overflow: hidden;
    box-sizing: border-box;
  }
  .el-dialog__footer {
    border-top: 1px solid $border-color;
    margin-bottom: -1px;
    .dialog-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
  &--checked-num {
    display: inline-block;
    font-size: 12px;
    color: #9f9f9f;
    margin-right: 10px;
  }
  &-body {
    position: relative;
    height: 100%;
  }
  &-content {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 100%;
    padding-left: 5%;
    box-sizing: border-box;
  }
  &-page {
    text-align: right;
    margin-top: 5px;
  }

  .el-popper[x-placement^=right]>.popper__arrow {
    top: 50%;
    left: -6px;
    margin-bottom: 3px;
    border-right-color: #EBEEF5;
    border-left-width: 0;
    // fix
    margin-right: initial;
    border-top-width: initial;
    border-bottom-color: transparent;
    bottom: initial;
    border-top-color: transparent;
    border-bottom-width: 6px;
  }
  .el-popper[x-placement^=right]>.popper__arrow::after {
    bottom: -6px;
    left: 1px;
    border-right-color: #FFF;
    border-left-width: 0;
    // fix
    top: initial;
    margin-left: initial;
    border-top-width: initial;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-bottom-width: inherit;
  }
}
